module acron_creds_file 2.1;

require {
        type cephfs_t;
        type chkpwd_t;
        type httpd_t;
	type httpd_tmp_t;
        type initrc_var_run_t;
        type systemd_logind_t;
        type systemd_logind_sessions_t;
        type usr_t;
        type var_t;
        class dbus send_msg;
        class fifo_file write;
        class dir { read rmdir write remove_name };
        class file { create getattr ioctl lock open read setattr unlink write };
        class process { noatsecure rlimitinh siginh };
	class dbus send_msg;
      	class dir {getattr open read write add_name remove_name};
}

#============= httpd_t ==============
allow httpd_t cephfs_t:dir remove_name;
allow httpd_t cephfs_t:file { create getattr ioctl open read setattr unlink write };
allow httpd_t chkpwd_t:process { noatsecure rlimitinh siginh };
allow httpd_t initrc_var_run_t:file { lock open read };
allow httpd_t systemd_logind_t:dbus send_msg;
allow httpd_t systemd_logind_sessions_t:fifo_file write;
allow httpd_t usr_t:file { create write unlink };
allow httpd_t var_t:file { lock open getattr read write create unlink setattr };
allow httpd_t usr_t:dir { write read open add_name remove_name };

#============= systemd_logind_t ==============
allow systemd_logind_t httpd_tmp_t:dir { read rmdir write };
allow systemd_logind_t httpd_t:dbus send_msg;
allow systemd_logind_t httpd_tmp_t:dir remove_name;
