#
# (C) Copyright 2019-2020 CERN
#
# This  software  is  distributed  under  the  terms  of  the  GNU  General  Public  Licence  version  3
# (GPL  Version 3), copied verbatim in the file "COPYING" /copied verbatim below.
#
# In applying this licence, CERN does not waive the privileges and immunities granted to it
# by virtue of its status as an Intergovernmental Organization or submit itself to any jurisdiction.
#
# Acron client configuration file
#
# __author__ = 'Philippe Ganz (CERN)'
# __credits__ = ['Philippe Ganz (CERN)', 'Ulrich Schwickerath (CERN)']
# __maintainer__ = 'Philippe Ganz (CERN)'
# __email__ = 'philippe.ganz@cern.ch'
# __status__ = 'Development'
#
---

ACRON_SERVER: 'https://acron-server.example.com'
API_VERSION: v0
API_PORT: 8443
SSL_CERTS: /etc/ssl/certs/bundle.cem
AUTHORIZED_USER_GROUP: 'acron-users'

# domains/realms. This can also be a list.
# For different REALMS the user name must be the same though
DOMAIN: example.com

TARGET_TRANSFORM:
  host.example.com: other-host.example.com

KEYTAB_DEFAULT_PATH: ${XDG_RUNTIME_DIR}
KEYTAB_ENCRYPTION_TYPES:
  - aes128-cts-hmac-sha1-96
  - aes256-cts-hmac-sha1-96
  - aes128-cts-hmac-sha256-128
  - aes256-cts-hmac-sha384-192

# Client flavor can be one of Heimdal or MIT. Default is MIT
# On RHEL/CentOS use MIT
KRB_CLIENTS_FLAVOR: 'MIT'
#
# CUSTOM_KEYTAB_GENERATOR: "/usr/sbin/cern-get-keytab --user --keytab __keytab__ --login __username__ --enctypes __enctype__"
GPG_BINARY_PATH: /usr/bin/gpg
GPG_PUBLIC_KEY_NAME: acron
GPG_PUBLIC_KEY_PATH: /usr/share/acron/acron_gpg_key.pub
