#
# (C) Copyright 2019-2020 CERN
#
# This  software  is  distributed  under  the  terms  of  the  GNU  General  Public  Licence  version  3
# (GPL  Version 3), copied verbatim in the file "COPYING" /copied verbatim below.
#
# In applying this licence, CERN does not waive the privileges and immunities granted to it
# by virtue of its status as an Intergovernmental Organization or submit itself to any jurisdiction.
#
# Acron server configuration file
#
# __author__ = 'Philippe Ganz (CERN)'
# __credits__ = ['Philippe Ganz (CERN)', 'Ulrich Schwickerath (CERN)']
# __maintainer__ = 'Philippe Ganz (CERN)'
# __email__ = 'philippe.ganz@cern.ch'
# __status__ = 'Development'
#
---

# Flask related configuration
DEBUG: 'False'
SECRET_KEY: change_me


# API related configuration
API_VERSION: v1
PROJECTS_API_VERSION:v1

DOMAIN: example.com

LOG_FILE: /var/log/acron/acron.log
LOG_LEVEL: INFO

EXECUTIONS_LOG_FILE: '/var/log/acron/executions.log'

MAX_CONTENT_LENGTH: 1048576
JOB_ID_MAX_LENGTH: 100

LDAP_SERVER: ldap://xldap.example.com
LDAP_BASE: OU=Workgroups,DC=example,DC=com
LDAP_USER_REGEXP: CN=(\S+),OU=Users,OU=Organic Units,DC=example,DC=com
LDAP_GROUP_REGEXP: CN=(\S+),OU=Group,OU=Workgroups,DC=example,DC=com

USERS_GROUP: acron-users

# Creds backend configuration
CREDS:
  TYPE: File
  CONFIG: /etc/acron/server/


# Scheduler backend configuration
SCHEDULER:
  TYPE: Rundeck
  CONFIG: /etc/acron/server/

TTL:  <%= $session_ttl %>

# memcached hosts
#MEMCACHED_HOSTS: ["host1", "host2"]
#MEMCACHED_PORT: 1234
#MEMCACHED_TTL: 300

# 2FA configuration
#ENABLE_2FA: True
#YUBICODE_URL: https://somewhere.ch
#OTP_URL: https://somwhwere.else.ch

# Secret key for login
SECRET_KEY: 'ChangeThisToSomethingArbitraryAndLongAndSecret'

# Session time to live in seconds
TTL: 300

# SSH idle connection timeout in seconds
IDLE_TIMEOUT: 3700
